<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-amber-50">
        <div class="flex flex-col justify-center items-center h-screen gap-8">
            <div class="text-center">
                <h1 class="text-3xl font-bold mb-4">🗺️ Cassini Maps</h1>
            </div>
            <div class="gap-2">
                <p class="mb-2">✅ Create an ephemeral map</p>
                <p class="mb-2">
                    ✅ Share Map Identifier with your participants
                </p>
                <p class="mb-2">✅ Track participants in real-time</p>

            </div>
            <div
                class="bg-slate-100 p-8 rounded shadow shadow-lg flex flex-col justify-center items-center">
                <h1 class="text-3xl font-bold mb-4">Create new private map</h1>
                <form action="/create" class="gap-4" method="post">
                    <button
                        type="submit"
                        class="px-4 py-2 bg-pink-600 text-white rounded cursor-pointer hover:bg-pink-700"
                    >
                        Let's go!
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
